.tarjeton {
  display: flex;
  flex: 1;
}

.tarjeton-main {
  flex: 3;
  background-color: white;
  height: 100%;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  display: flex;
  flex-direction: column;
}

.tarjeton-aside {
  background-color: #414141;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto-header {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: left;
  align-items: center;
}

.chiquito {
  font-size: 0.8rem;
  margin-right: 0.8rem;
  font-style: italic;
  color: #bbb;
}

.tarjeton-text {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  max-height: 120px;
}

.rocas-faltantes {
  background-color: #9FCC3B;
  border-radius: 50%;
  height: 9vw;
  width: 9vw;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-weight: bold;
}

.numerito {
  font-size: 8vh;
  margin-top: -1vh;
  margin-bottom: -1.5vh;
}
