<div class="tarjeton">
  <div class="tarjeton-main">
    <div class="tarjeton-header">
      <p class="texto-header">
        <span class="chiquito">Propuesto por:</span> <strong>Ludat</strong>
      </p>
    </div>
    <div class="tarjeton-text">
      Haskell Programming From First Principles
    </div>
  </div>
  <div class="tarjeton-aside">
    <div class="rocas-faltantes">
      <span>Nos faltan: </span>
      <span class="numerito">3</span>
      <span>Rocas</span>
    </div>
  </div>
</div>
