<div class="tarjeton status--completa">
  <div class="tarjeton__body">
    <div class="tarjeton__body-header">
      <p>
        <span class="little-text">Propuesto por: </span>
        <strong>ludat</strong>
      </p>
    </div>
    <div class="tarjeton__body-main">
      <div class="title-box">
        <div class="thumbnail-box">
          <div class="thumbnail-box--title">
            <span class="title-box">Haskell Programming From First Principles</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tarjeton__aside">
    <div class="rocas-faltantes">
      <span class="rocas-faltantes--titulo">Nos faltan:</span>
      <span class="rocas-faltantes--numero ng-binding">3</span>
      <span class="rocas-faltantes--titulo">Rocas</span>
    </div>
  </div>
</div>
